# Bibliothèques de base
pandas==2.1.3
dotenv

# récupération des fichiers
requests
beautifulsoup4
lxml
pytesseract
pdf2image

# ocr
opencv-python
easyocr
python-doctr
transformers
dateparser

# database
sqlalchemy
psycopg2

# analyses
matplotlib
plotly
nbformat
scikit-learn

# application
fastapi[standard]
pydantic
passlib[bpcrypt]
jose
pyjwt
bcrypt

# frontend
flask